<div class="overflow-x-auto" *ngIf="users?.length ?? 0 > 0">
  <table class="table w-full">
    <!-- head -->
    <thead>
      <tr>
        <th>Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>User Role</th>
        <th>Email Address</th>
        <th>Office</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of users" [ngClass]="{ success: item.active }">
        <td>{{ item.first_name }}</td>
        <td>{{ item.last_name }}</td>
        <td>{{ item.age }}</td>
        <td>{{ item.role.title }}</td>
        <td>{{ item.email }}</td>
        <td>{{ item.office.title }}</td>
        <td>
          <button (click)="onEditBtnClicked(item.id)" class="btn btn-primary">
            <fa-icon [icon]="faPenToSquare"></fa-icon>
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<components-templates-modal [title]="'Edit User'" #editUserModal>
  <ng-template #body>
    <components-modules-user-form-upsert-user [existingUser]="selectedUser">
    </components-modules-user-form-upsert-user>
  </ng-template>
</components-templates-modal>
