<form [formGroup]="form" (submit)="onSubmit()">
  <div class="mb-3">
    <label class="label">
      <span class="label-text">Email Address</span>
    </label>
    <input
      type="email"
      formControlName="email"
      class="input w-full input-primary"
    />
    <p class="my-2 text-error" *ngIf="validateInputError('email')">
      Please check your Email
    </p>
  </div>

  <div class="mb-3">
    <label class="label">
      <span class="label-text">First Name</span>
    </label>
    <input
      type="text"
      formControlName="first_name"
      class="input w-full input-primary"
    />
    <p class="my-2 text-error" *ngIf="validateInputError('first_name')">
      Please check your First Name
    </p>
  </div>

  <div class="mb-3">
    <label class="label">
      <span class="label-text">Last Name</span>
    </label>
    <input
      type="text"
      formControlName="last_name"
      class="input w-full input-primary"
    />
    <p class="my-2 text-error" *ngIf="validateInputError('last_name')">
      Please check your Last Name
    </p>
  </div>

  <div class="mb-3">
    <label class="label">
      <span class="label-text">Office</span>
    </label>
    <components-modules-office-select-office
      (selectedOfficeChange)="selectedOfficeChange($event)"
    >
    </components-modules-office-select-office>
    <input
      type="hidden"
      formControlName="office_id"
      class="input w-full input-primary"
    />
    <p class="my-2 text-error" *ngIf="validateInputError('office_id')">
      Please check your Office
    </p>
  </div>

  <div class="mb-3" *ngIf="!existingUser">
    <label class="label">
      <span class="label-text">Birthdate</span>
    </label>
    <input
      type="date"
      formControlName="birthdate"
      class="input w-full input-primary"
    />
    <p class="my-2 text-error" *ngIf="validateInputError('birthdate')">
      Please check your Birthdate
    </p>
  </div>

  <div class="mb-3" *ngIf="!existingUser">
    <label class="label">
      <span class="label-text">Password</span>
    </label>
    <input
      type="password"
      formControlName="password"
      class="input w-full input-primary"
    />
    <p class="my-2 text-error" *ngIf="validateInputError('password')">
      Please check your Password
    </p>
  </div>

  <div class="mb-3">
    <label class="label">
      <span class="label-text">Role</span>
    </label>
    <div class="form-control">
      <label class="label cursor-pointer">
        <input type="radio" name="radio-6" class="radio checked:bg-primary" />
        <span class="label-text">Red pill</span>
      </label>
    </div>
  </div>

  <div class="flex justify-between">
    <button
      type="button"
      class="p-0 btn btn-link text-error"
      (click)="onCancelBtnClicked()"
    >
      Cancel
    </button>
    <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
      Save
    </button>
  </div>
</form>
