<div>
  <div class="mb-3 prose">
    <span>Hello, Admin</span>
    <h2 class="m-0 prose-stone">Dashboard</h2>
  </div>

  <div class="flex justify-between mb-5">
    <div>
      <label for="offices" class="mr-3">Office</label>
      <components-modules-office-select-office
        (selectedOfficeChange)="onSelectedOfficeIdChanged($event)"
        [hasAllSelector]="true"
      >
      </components-modules-office-select-office>
    </div>

    <components-modules-user-button-create-user></components-modules-user-button-create-user>
  </div>

  <components-modules-user-datatable-user [officeId]="selectedOfficeId">
  </components-modules-user-datatable-user>
</div>


